@page "{id:int}"
@model FirmwareServer.Pages.Applications.EditModel
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <page-header>
        <div class="align-self-end ml-auto">
            <button type="submit" class="btn btn-success mr-0">Save</button>
            <a asp-page="./Index" class="btn btn-secondary ">Cancel</a>
        </div>
    </page-header>

    <partial name="_StatusMessage" for="StatusMessage" />

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.DeviceTypeId"></label>
                <select asp-for="Input.DeviceTypeId" asp-items="Model.DeviceTypes" class="form-control">
                    <option value="">Choose …</option>
                </select>
                <span asp-validation-for="Input.DeviceTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.FirmwareId"></label>
                <select asp-for="Input.FirmwareId" asp-items="Model.Firmware" class="form-control">
                    <option value="">Choose …</option>
                </select>
                <span asp-validation-for="Input.FirmwareId" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Description"></label>
                <textarea asp-for="Input.Description" rows="10" class="form-control"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}